[Unit]
Description=UMTPRD daemon starter
After=usb-moded-fix.service
Wants=usb-moded-fix.service

[Service]
Type=oneshot
ExecStart=/bin/systemctl start umtprd
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
