[Unit]
Description=UMTPRD daemon starter
After=usb-moded-fix.service
Wants=usb-moded-fix.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/bin/systemctl start umtprd

[Install]
WantedBy=multi-user.target
